---
layout: default
---

<div class="well">
{% assign firstEle = 0 %}
{%for post in site.posts %}
    {% if firstEle == 0 %}
        <h1>{{ post.date | date: '%Y' }}</h1>
        <ul>
        {% assign firstEle = 1 %}
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h1>{{ post.date | date: '%Y' }}</h1>
            <ul>
        {% endif %}
    {% endif %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d" }} - {{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
